<header id="header" class="Header">
    <a class="u-url logo" href="/" rel="home" itemprop="url"><img src="media/images/logo.png" alt="Rinse Cup Clean Up logo" itemprop="logo" /></a>
    <h1 class="e-description tagline" itemprop="description">The safest &amp; easiest way to dispose of the rinse cup in the <span class="p-category" itemprop="isConsumableFor">tattoo industry</span>.</h1>
    <h2 class="Button"><a class="url" href="https://squareup.com/market/rinsecup-cleanup/bottle">Order Now</a></h2>
    <p>Contact us at <a href="mailto:support@rinsecup.com?subject=Questions?">support [@] rinsecup.com</a></p>
    {% include social.html %}
    <!--<video id="splash-video" src="media/video/splash.mp4" autoplay loop="true"></video>-->
</header>
