<article id="product" class="Product">
    <div class="image">
        <img class="u-photo" src="media/images/product-shot.png" alt="Product shot of the Rinse Cup bottle" itemprop="image" />
    </div>
    <h2 class="Heading">About <span class="p-name" itemprop="name">Rinse Cup</span></h2>
    <ul class="listing">
        <li class="item">No more leaking trash bags</li>
        <li class="item">No more shoving paper towels into a contaminated rinse cup</li>
        <li class="item">No more carrying contaminated water</li>
    </ul>
    
    <p>RinseCup CleanUp is the safest and easiest way to dispose of the rinse cup in the tattoo industry. And we're confident that RinseCup CleanUp is the fastest as well. <strong>(we welcome challengers)</strong></p>
    
    <h3 class="tips">Tips</h3>
    <ul class="listing">
        <li class="item">In order to get approximately 90 uses, the recommended amount is 1/2 of a cap (1/2 cap = 2 grams)</li>
        <li class="item">Using more speeds up the reaction time, but decreases uses</li>
        <li class="item">The colder the water, the slower the reaction time</li>
    </ul>
      
    <h3 class="Heading big">100% Made in the <abbr title="United States of America">USA</abbr></h3>
</article>
