<ul class="Social">
    <li class="item"><a class="url instagram" href="http://instagram.com/rinsecup"><i aria-hidden="true" data-icon="&#xF641;"></i> <span class="screenreader">Instagram</span></a></li>
    <li class="item"><a class="url youtube" href="http://www.youtube.com/user/rinsecup"><i aria-hidden="true" data-icon="&#xF630;"></i> <span class="screenreader">Facebook</span></a></li>
    <li class="item"><a class="url facebook" href="https://www.facebook.com/pages/Rinse-Cup/365701613575433"><i aria-hidden="true" data-icon="&#xF610;"></i> <span class="screenreader">Facebook</span></a></li>
    <li class="item"><a class="url pinterest" href="http://pinterest.com/rinsecup"><i aria-hidden="true" data-icon="&#xF650;"></i> <span class="screenreader">Pinterest</span></a></li>
    <li class="item"><a class="url twitter" href="http://twitter.com/rinsecup"><i aria-hidden="true" data-icon="&#xF611;"></i> <span class="screenreader">Twitter</span></a></li>
</ul>
