<section id="testimonials" class="Testimonials">
    <div class="Frame">
        <h2 class="Heading">Testimonials</h2>
        <blockquote class="p-review" itemprop="review" itemscope itemtype="http://schema.org/Review">
            <p class="e-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <footer><cite class="p-reviewer">Marcos Camerena</cite> Name of Store</footer>
        </blockquote>
    </div>
</section>
